<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
    <div class="circle-top"></div>
<div class="circle-bottom"></div>
<header>
  <div class="header-content">
    <h1>Meet my team of experts and innovators who are pioneers in their field</h1>
  </div>
</header>
<section id="about">
  <div class="card-top">
    <div class="card">
      <img src="https://images.pexels.com/photos/2811089/pexels-photo-2811089.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=11" alt="Alexandra Smith">
      <h2>Alexandra Smith</h2>
      <p>Founder and Chief Operations Officer</p>
    </div>
    <div class="card">
      <img src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="John Smith">
      <h2>John Smith</h2>
      <p>Founder and Chief Executive Officer</p>
    </div>
  </div>
  <div class="card">
    <img src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Erik Longman">
    <h2>Erik Longman</h2>
    <p>Chief Process and Innovation Officer</p>
  </div>
  <div class="card">
    <img src="https://images.pexels.com/photos/2216607/pexels-photo-2216607.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Matthew Foster">
    <h2>Matthew Foster</h2>
    <p>Chief Sales Officer</p>
  </div>
</section>
</body>
</html>