@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
    background: #7B8DEA; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #09ed5d,
      #7B8DEA
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #09ed5d,
      #7B8DEA
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}
